* {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    text-overflow:ellipsis;
    user-select:none;

}

li {
    list-style-type:none;
}
a{
    text-decoration:none; 
}

.listBox li {

}

